.editform {
    width: 430px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: auto auto;
}

@media screen and (max-width: 597px) {
    .editform {
        width: 282px;
    }
}