.editform__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 27px;
    margin-left: 36px;
    border: none;
    outline:none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 597px) {
    .editform__input {
        margin-left: 22px;
        height: 27px;
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}